@using BlogMVC.Datos
@using BlogMVC.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> dbFactory
@inject IJSRuntime JS
@implements IDisposable

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var entrada in entradas)
    {
        <div class="col">
            <div class="card h-100">
                @if (string.IsNullOrEmpty(entrada.PortadaUrl))
                {
                    <a href="/entradas/detalle/@entrada.Id">
                        <img src="/img/no-img.jpg" class="card-img-top" alt="portada-entrada" />
                    </a>
                } else
                {
                    <a href="/entradas/detalle/@entrada.Id">
                        <img src="@entrada.PortadaUrl" class="card-img-top" alt="portada-entrada" />
                    </a>
                }
                
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" href="/entradas/detalle/@entrada.Id">@entrada.Titulo</a>
                    </h5>
                    <p class="card-text">
                        <small class="text-body-secondary">@entrada.FechaPublicacion.ToString("dd MMM yyyy")</small>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@if (cargando)
{
    <div style="transform: translate(50%, 50%)">
        <img width="150" class="mt-3" src="/img/loading.gif" />
    </div>
}

<div id="cargar-mas" style="height: 10px;"></div>

@code {
    private ApplicationDbContext? context { get; set; }
    private List<HomeIndexEntradaViewModel> entradas = [];
    private int indice = 0;
    private int cantidadRegistrosSolicitar = 20;
    private bool seguirBuscandoEntradas = true;
    private bool cargando = true;

    // Metodo llamado al inicializar el componente
    protected override async Task OnInitializedAsync()
    {
        // Inicializar el contexto de la BD
        context = dbFactory.CreateDbContext();
        await BuscarEntradas();
    }

    // Metodo llamado después de que el componente se haya renderizado
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Solo registrar el observador la primera vez que se renderiza
        if (firstRender)
        {
            // Registrar el observador de interseccion en el elemento "cargar-mas"
            await JS.InvokeVoidAsync("observarElemento", "cargar-mas", DotNetObjectReference.Create(this));
        }
    }

    // Metodo para buscar las entradas en la BD
    private async Task BuscarEntradas()
    {
        cargando = true;
        StateHasChanged();
        var entradasLocal = await context!.Entradas
            .OrderByDescending(x => x.FechaPublicacion)
            .Skip(indice) // Saltar las entradas ya cargadas (en este caso 0 al inicio)
            .Take(cantidadRegistrosSolicitar) // Tomar las siguientes entradas (en este caso 20)
            .Select(x => new HomeIndexEntradaViewModel
            {
                Id = x.Id,
                Titulo = x.Titulo,
                PortadaUrl = x.PortadaUrl,
                FechaPublicacion = x.FechaPublicacion
            }).ToListAsync();
        // Si ya no se encontraron entradas, dejar de buscar (se asigna false)
        seguirBuscandoEntradas = entradasLocal.Any();
        // Agregar las entradas encontradas a la lista principal
        entradas.AddRange(entradasLocal);
        // Actualizar el indice para la siguiente carga
        indice += cantidadRegistrosSolicitar;
        cargando = false;
    }

    [JSInvokable]
    // Metodo invocado desde JS para cargar mas elementos
    public async Task CargarMasElementos()
    {
        // Si ya se esta cargando, no hacer nada
        if (cargando)
        {
            return;
        }

        if (seguirBuscandoEntradas)
        {
            await BuscarEntradas();
            StateHasChanged(); // Notificar a Blazor que el estado del componente ha cambiado
        }
    }

    // Liberar el contexto cuando el componente se destruya
    public void Dispose()
    {
        context?.Dispose();
    }
}
